<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="jobIDTextField">Job ID</label>
                    <input type="text" class="form-control"
                    id="jobIDTextField"
                    placeholder="Enter job ID"
                    name="job_id" 
                    value="<%= jobs.job_id %>"
                    disabled
                    required>
                </div>

                <div class="form-group">
                    <label for="jobTitleTextField">Job Title</label>
                    <input type="text" class="form-control"
                    id="jobTitleTextField"
                    placeholder="Enter the job title"
                    name="job_title" 
                    value="<%= jobs.job_title %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="minSalaryTextField">Min Salary</label>
                    <input type="text" class="form-control"
                    id="minSalaryTextField"
                    placeholder="Enter the job min salary"
                    name="min_salary" 
                    value="<%= jobs.min_salary %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="maxSalaryTextArea">Max Salary</label>
                    <input type="text" class="form-control"
                    id="maxSalaryTextArea"
                    placeholder="Enter the job max salary"
                    name="max_salary"
                    value="<%= jobs.max_salary %>" 
                    required>
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/jobs/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>