<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="idTextField">Employee ID</label>
                    <input type="text" class="form-control"
                    id="idTextField"
                    placeholder="Enter employee ID"
                    name="id" 
                    value="<%= company.employee_id %>"
                    disabled
                    required>
                </div>

                <div class="form-group">
                    <label for="firstNameTextField">First Name</label>
                    <input type="text" class="form-control"
                    id="firstNameTextField"
                    placeholder="Enter the employee first name"
                    name="first_name" 
                    value="<%= company.first_name %>"
                    disabled
                    required>
                </div>

                <div class="form-group">
                    <label for="lastNameTextField">Last Name</label>
                    <input type="text" class="form-control"
                    id="lastNameTextField"
                    placeholder="Enter the employee last name"
                    name="last_name" 
                    value="<%= company.last_name %>"
                    disabled
                    required>
                </div>

                <div class="form-group">
                    <label for="emailTextArea">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextArea"
                    placeholder="Enter the employee email"
                    name="email"
                    value="<%= company.email %>" 
                    required>
                </div>

                <div class="form-group">
                    <label for="phoneNumberTextField">Phone Number</label>
                    <input type="text" class="form-control"
                    id="phoneNumberTextField"
                    placeholder="Enter the employee Phone Number"
                    name="phone_number" 
                    value="<%= company.phone_number %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="hireDateTextField">Hire Date</label>
                    <input type="text" class="form-control"
                    id="hireDateTextField"
                    placeholder=""
                    name="date" 
                    disabled
                    value="<%= company.hire_date %>"
                    required>
                </div>
                
                <div class="form-group">
                    <label for="salaryTextField">Salary</label>
                    <input type="text" class="form-control"
                    id="salaryTextField"
                    placeholder="Enter the employee Salary"
                    name="salary" 
                    value="<%= company.salary %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="jobIDTextField">Job ID</label>
                    <input type="text" class="form-control"
                    id="jobIDTextField"
                    placeholder=""
                    name="number" 
                    disabled
                    value="<%= company.job_id %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="managerIDTextField">Manager ID</label>
                    <input type="text" class="form-control"
                    id="managerIDTextField"
                    placeholder=""
                    name="number" 
                    disabled
                    value="<%= company.manager_id %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="departmentIDTextField">Department ID</label>
                    <input type="text" class="form-control"
                    id="departmentIDTextField"
                    placeholder=""
                    name="number" 
                    disabled
                    value="<%= company.department_id %>"
                    required>
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/company/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>