<main class="container" style="height:1400px">
    <div class="row">
        <div class="offset-md-0 col-md-12">
            <h1>
                <%= title %>
            </h1>
            <a href="/company/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Create Hiring Form</a>
            <br>
            <table class="table table-bordered table-striped table-hover" style="margin-left:-150px;">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-1">Emp_ID</th>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Email</th>
                    <th class="col-2">Phone Number</th>
                    <th class="col-1">Hire Date</th>
                    <th class="text-center col-1">Salary</th>
                    <th class="text-center col-2">Job_ID</th>
                    <th class="text-center col-1">Manager_ID</th>
                    <th class="text-center col-1">Department_ID</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count=0; count < company.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-1">
                            <%= company[count].employee_id %>
                        </td>
                        <td class="text-center col-2">
                            <%= company[count].first_name %> <%= company[count].last_name %>
                        </td>
                        <td class="text-center col-2">
                            <%= company[count].email %>
                        </td>
                        <td class="col-2">
                            <%= company[count].phone_number %>
                        </td>
                        <td class="text-center col-1">
                            <%= company[count].date %>
                        </td>
                        <td class="text-center col-1">
                            <%= company[count].salary %>
                        </td>
                        <td class="text-center col-2">
                            <%= company[count].job_id %>
                        </td>
                        <td class="text-center col-1">
                            <%= company[count].manager_id %>
                        </td>
                        <td class="text-center col-1">
                            <%= company[count].department_id %>
                        </td>
                        <td class="text-center col-1">
                            <a href="/company/edit/<%= company[count].employee_id %>"
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        
                        <td class="text-center col-1">
                            <a href="/company/delete/<%= company[count].employee_id %>"
                                class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>